h1 {
    font-size: 8em;
    font-family: 'Waltograph',sans-serif;
    color: aliceblue;
    background-color: navy;
    display:flex;
    justify-content: center;
    align-items: center;
    height:105vh;
    margin: -20px;
    margin-top: -55px;
}

button >a{
    text-decoration: none;
    color: black; 
    
}

button{
    font-size: 1.5em;
    font-family: 'Waltograph';
    background-color: white;
    border-radius: 7px;
    border: transparent;
}

button >a:hover{
    color: white;
}

button:hover{
    text-decoration: none;
    background-color: rgb(1, 1, 19);
}

/* allura-regular - latin */
@font-face {
    font-family: 'Waltograph';
    font-weight: 10;
    src: url('../fonts/waltograph42.otf');
    src: local(''),
         url('../fonts/waltograph42.otf') 
         url('../fonts/waltographUI.ttf') format('truetype');
  }