*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url('../img/game/esceneario/intro.avif');
    background-size: cover;
}


#jackBlack{
    position: absolute;
    top: 62%;
    left: 30%;
    transition: margin-top 0.3s;
    /* transition: margin-right 0.3s; */
}