* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

a {
    font-size: 1.2em;
    color: white;
    text-decoration: none;

}

.nav {
    background-color: black;
}

nav ul li {
    display: inline-block;
    padding: 20px 45px 20px 45px;
    /* text-align: center; */
}

.nav .menu-item .item:hover {
    cursor: pointer;
    background-color: rgb(230, 128, 128);
}

.hamburguer {
    color: rgb(212, 57, 57);
    padding: 15px;
    border-radius: 10px;
    display: none;
}

.hamburguer:hover {
    color: white;
}



@media only screen and (max-width:850px) {
    .hamburguer {
        display: block;
    }

    nav ul li {
        background-color: rgba(209, 46, 46, 0.829);
        display: block;
        border-bottom: 1px solid white;
    }
    .item-menu{
        display: none;
    }

}

p {
    margin: 30px;
}