* {
    padding: 0;
    margin: 0;
}

.nav {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(6, 175, 119);
}

.item {
    padding: 15px 30px 15px 30px;
    display: inline-flex;
    position: relative;
}

.item:hover {
    background-color: rgb(5, 207, 140);
}

a {
    text-decoration: none;
    color: white
}


.subItem {
    border-bottom: 1px solid white;
    padding: 25px 52px 25px 52px;
    list-style: none;
}

.subItem:hover {
    background-color: rgb(100, 196, 142);
}

.icon {
    color: white;
    margin-left: 6px;
    /* margin-top: 5px; */
}

li {
    position: relative;
}

.icon-text {
    display: none;
}

.nav .menu .item:hover .subMenu {
    display: block;
    box-shadow: 1px 1px 10px 1px rgb(184, 184, 184);
}

.subMenu {
    top: 101%;
    left: 0;
    position: absolute;
    display: none;
    background-color: rgb(42, 169, 114);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin: 50px;
    text-align: justify;
}

@media only screen and (max-width: 820px) {
    .menu {
        display: none;
    }

    .icon-text {
        color: aliceblue;
        display: block;
        padding: 5px;
        font-size: 3em;
    }

    .item {
        position: relative;
        padding: 35px 35px;
        background-color: rgb(42, 160, 109);
        width: 150px;
        display: block;
    }

    .nav {
        width: 100%;
        height: 59px;
    }

    .subMenu {
        display: block;
    }
    p{
     margin: 25px;
    }
}