* {
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}

nav {
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-template: 50px / 65px 56% 60px 30px;
    background-color: rgb(255, 241, 89);
    transition: background-color 0.2s;
}

.item-nav img {
    transition: all 0.5s;
    width: 43px;
}

.item-nav span {
    margin: 6.5px;
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 20px;
    border-bottom: 1px solid black;
}

.span-hamburguer {
    margin: auto;
}

.close-input, .clean-input {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 10px 20px 10px 20px;
    background-color: white;
    left: 50px;
    position: absolute;
    z-index: -1;
}
.clean-input{
    /* z-index: 1; */
    left: 87%;
}

.input-item {
    transition: all 0.2s ease-in-out;
    outline: none;
    left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-left: 5px;
    width: 100%;
    height: 36px;
    border: unset;
}

.input-search {
    position: relative;
    left: -11%;
    width: 155%;
}

.item-nav input::placeholder {
    color: rgb(197, 197, 197);
}


/* containers show data  */
.content {
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.carro {
    box-shadow: 0px 0px 10px 2px rgb(223, 223, 223);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
    width: max-content;
    background-color: rgb(231, 226, 226);
    overflow: hidden;
    width: 300px;
    border:unset;
    position: relative;
    cursor: pointer;
    border: 1px solid transparent;
}

.carro:hover {
    box-shadow: unset;
    border: 1px solid rgb(0, 106, 255);
}

.carro:hover .heart {
    display: block;
}

.img-carro {
    width: 100%;
    height: 100%;
}

.div-img-carro {
    width: 100%;
}

.div-info-carro {
    background-color: white;
    padding: 20px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.h4-precio {
    font-family: sans-serif;
    font-size: 1.4em;
    font-weight: 500;
}

.h4-descripcion {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.8em;
}

.h4-ubicacion {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.heart {
    position: absolute;
    right: 20px;
    padding: 8px 8px 4px 8px;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 50%;
    margin: 20px 0px;
    display: none;
}
.icon-heart{
    color: rgb(0, 106, 255);
}