* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
}
.cont{
    display: grid;
    grid-template: 80px/ 358px 130px 210px 150px 150px 150px 150px 128px 128px 1fr;
}
.main-img{
    color: aliceblue;
    display: grid;
    background-image: linear-gradient(to right,rgb(166, 3, 125),rgb(27, 0, 136), rgb(0, 247, 255));
    grid-template: 625px/ 100%;
}
.logo{
    color: aliceblue;
   background-color: rgb(33, 0, 73);
}
.options{
 background-color: rgb(234, 234, 234);
}
.btn1{
    border: 1px solid rgb(255, 47, 115);
}
.btn{
    background-color: rgb(255, 47, 115);
}
.options,.logo,.btn1, .btn, .txt{
    display: flex;
    justify-content: center;
    align-items: center;
}
