* {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    width: 100%;
}

.container-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.progress-input {
    color: rgb(0, 87, 180);
    font-weight: bold;
    background-color: rgb(249, 249, 249);
    border-radius: 50px;
    border: none;
    box-shadow: 5px 4px 5px 1px rgb(206, 206, 206) inset;
    text-align: center;
    outline: none;
    padding: 2px;
    width: 200px;
    height: 25px;
}

.container-bars {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bar-progress {
    transition: all 1s;
    width: 0%;
    height: 100%;
    display: flex;
    align-items: center;

}

.container-progress {
    height: 30px;
    border: 1px solid rgb(178, 177, 187);
}

.porcent {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: -45px;
}
#btnProgress{
    cursor: pointer;
    color: whitesmoke;
    border: unset;
    padding: 10px;
    background-color:rgb(9, 0, 112);
}

#btnProgress:hover{
    background-color:rgb(19, 4, 178);
}