*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}

.img-one{
    background-image: url(../img/MY23-890-SMT-Stage.jpg);
    background-size: cover;
}

.img-two{
    background-image: url(../img/MY24-MX-SX-SEGMENT-HEADER-4.jpg);
    background-size: cover;
}

.img-three{
    background-image: url(../img/speed-racing-collection.jpg);
    background-size: cover;
}
.img-content{
    display: flex;
    align-items: center;
    width: 300%;
    height: 98vh;
}

.img{
    width: 100%;
    height: 100vh;
}

.img-content-left{
    transition: margin-left 2s;
    margin-left: -100%;
}

.img-content-leftt{
    transition: margin-left 2s;
    margin-left: -200%;
}


.img-content-right{
    transition: margin-left 1s;
    margin-left: -200%;
}

.img-content-rightt{
    transition: margin-left 2s;
    margin-left: -100%;
}


.img-content-reverse{
    transition: margin-left 1s;
    margin-left: 0%;
}
.icon{
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 20px;
    position: absolute;
    font-size: 1.3em;
}
.fa-angles-right{
    left: 95.5%;
}
.fa-angles-left{
    left: 1%;
}