* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0%;
    margin: 0%;
}

nav {
    background: rgb(61, 0, 61);
}

nav ul {
    
    background-color: rgb(61, 0, 61);
    /* background-color: rgb(61, 0, 61); */
    padding: 0;
    width: 100%;
    position: absolute;
    display: table;
    display: block;
    list-style: none;
}

/*Acceder a los hijos directamente usando signo ">" */
nav>ul>li {
    left: 1.5%;
    position: relative;
    width: 300px;
    /* Separa (Funciona como un padding )*/
    float: left;
    /* Alinear (Funciona como un display block)*/
    line-height: 60px
        /* Interlineado (Centrar vertical)*/
}

nav a {
    /* padding: 0 1em; */
    font-size: 1.2em;
    color: aliceblue;
    text-decoration: none;
}

nav li {
    text-align: center;
    position: relative;
}

nav li li {
    border-bottom: 1px solid white;
    max-height: 0;
    overflow: hidden;
}
nav li:hover {
    background-color: rgb(112, 86, 139);
}
nav ul{
    border-radius: 10px;
}
nav li:hover>ul>li {
    max-height: 500px;
    visibility: visible;
    overflow: visible;
}

nav ul ul ul {
    top: 0%;
    /* border-radius: 10px; */
    left: 100%;
}
.icons{
    color: aliceblue;
    margin-left: 8px;
}