.box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
  
}
.left{
  
    text-align: left;
}
.right{
    text-align: right;
    
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}