* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th,td {
    border: 1px solid rgb(192, 192, 192);
    padding: 5px 20px;
}

/* thead{
    background-color:rgb(168, 236, 236);
} */
table {
    border-collapse: collapse;
   
}

h1,h2,.X,.y {
    text-align: center;
}
.center {
    color: black;
    display: flex;
    justify-content: center;
}

/* th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
} */

/* tr:last-child td:first-child { 
    border-bottom-left-radius: 10px; 
} */
/* tr:last-child td:last-child { 
    border-bottom-right-radius: 10px; 
} */
img {
    width: 145px;
}

.back-color {
    background-color: rgb(37, 146, 150);
    color: aliceblue;
}

.green {
    background-color: darkgreen;
}

.blue {
    background-color: dodgerblue;
}

.orange {
    background-color: rgb(238, 131, 0);
}

.purple {
    background-color: rgb(104, 29, 175);
}

p{
    font-size: 15px;
    color: aliceblue;
}

.X {
    color: red;
    font-size: 1.5em;
}

.y {
    color: limegreen;
    font-size: 1.5em;
}

.gray{
    background-color: rgb(253, 252, 252);
}